/*App.css file, global styles should be stored here, for example style variables*/
/* Scrollbar styles */
::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
}

/* Body and app styles*/
* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    width: fit-content;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(43, 42, 42, 0.4) 100%);
    background-attachment: fixed; 
    font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
    color: white;
}
